<div class="add-event">
  <h3>Add an event</h3>
  {{> partials/event-form }}
  <!--<form class="event-form form-inline">-->
    <!--<div class="form-group">-->
      <!--<label for="event_id">Please enter the Event ID from Facebook</label>-->
      <!--<input type="text" class="form-control" id="event_id" placeholder="Event ID">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
  <!--</form>-->
</div>

<div class="find-event">
  <h3>Find an event</h3>
</div>

<div class="response-content"></div>

<div class="prepare-for-event">
  <h3>Preparation guidelines</h3>
  <h4>If you're a US citizen</h4>
  <h4>If you're a green card holder</h4>
  <h4>If you're a visa holder</h4>
</div>