<body>
    <script src="js/facebook_sdk.js"></script>
<div>
    <div class="row">
        <div class="col-md-1">
            <img src="images/icon-60.png" alt="icon"/>
        </div>
        <div class="col-md-11">
            <h1>Take Action SF</h1>
            <h2>advocating wise action in uncertain times</h2>
        </div>
    </div>
</div>
    {{> partials/content}}

    <script src="js/handler.js"></script>

</body>